.logo-list {
    padding: 20px 0;
    text-align: center;
}
.logo-list img {
    display: inline-block;
    max-width: 85%;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100);
    -moz-filter: grayscale(100);
    filter: grayscale(100);
}
.logo-list img:hover {
    filter: none;
    transform: scale(1.2);
    -webkit-filter: none;
    -moz-filter: none;
}


.card-promotion, .we-achived-numbers {
    display: inline-block;
    max-width: 85%;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100);
    -moz-filter: grayscale(100);
    filter: grayscale(100);
}
.card-promotion:hover, .we-achived-numbers:hover{
    filter: none;
    transform: scale(1.1);
    -webkit-filter: none;
    -moz-filter: none;
}

.zoom-11 {
    display: inline-block;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100);
    -moz-filter: grayscale(100);
    filter: grayscale(100);
}


.zoom-11:hover {
    filter: none;
    transform: scale(1.07);
    -webkit-filter: none;
    -moz-filter: none;
}